.UniquePlayList{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 10px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 6px;

    .title-play-list{
        font-family: Laila;
        font-size: 16px;
        color: #2F5567;
        margin: 8px 0;
    }

    .button-image{
        margin: 0;
        padding: 0;
        height: 150px;
        position: relative;
        border: none;

        .image-play-list{
            width: 150px;
        }
    }
}

.UniquePlayList:hover{
    background: #EDF7F5;
    opacity: 0.6;
}