.Edit{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .text-success{
        color: green;
        margin: 10px 0;
    }

    .text-error{
        color: red;
        margin: 10px 0;
    }
}

@media(max-width: 414px){
    .Edit{
        .text-success{
            font-size: 12px;
            line-height: 14px;
        }
    
        .text-error{
            font-size: 12px;
            line-height: 14px;
        }
    }
}